/* Estilos para dispositivos móviles */
.container {
    text-align: center;
  }
  
  .image {
    width: 100%;
    max-width: 18.75rem; /* Equivale a 300px con base en 16px (1rem = 16px) */
    height: auto;
    margin: 0 auto;
  }
  
  .text {
    margin-top: 0.625em; /* Equivale a 10px con base en 16px (1em = 16px) */
  }
  
  /* Estilos para dispositivos de escritorio */
  @media (min-width: 48em) { /* Equivale a 768px con base en 16px (1em = 16px) */
    .image {
      max-width: 31.25rem; /* Equivale a 500px con base en 16px (1rem = 16px) */
    }
  }
  